/* home/Messages.css */
h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  div:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  
  div p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  div span {
    font-size: 0.9rem;
    color: var(--grey-2);
  }
  