.sidebar-option {
    font-weight: 400;
    font-size: 1.0rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    justify-content: start;
    padding-left: 1rem;
    padding-right: 2rem;
}

.sidebar-option:hover {
    background-color: var(--twitter-secondary);
    transition: background-color 0.2s;
}

.sidebar-option__icon{
    font-size: 1.8rem !important;
}

.sidebar-option__label{
    font-weight: 400;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.sidebar-option__active h2{
    font-weight: 500;
}